<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="<%= rootPath %>/img/npc_icon.ico">
</head>
<body>
  <script src="//cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script>
    window.rootPath = '<%= rootPath %>';
    window.defaultLanguage = '<%= defaultLanguage %>';
    var lang = Cookies.get('docsite_language');
    lang = 'en-us';
    if (!lang) {
      <!--lang = '<%= defaultLanguage %>';-->
      lang = 'en-us'
    }
    window.location = window.rootPath + '/' + lang;
  </script>
</body>
</html>
